.product_duroyal{
    width: 100vw;
}
h1{
    margin-left:35px;
    margin-top:30px;
}
.container{
    display: flex;
    /* align-items: center; */
    width: 100vw;
    justify-content: center;

}
.wrapper {
    /* margin-left: 30px; */
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
.row{
    width: 50px;
}
.scroll{
    position: fixed;
    bottom: 12px;
    width: 40px;
    height: 40px;
    left: 50%;
    border-radius: 100%;
    background: #e5e5e5;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.scroll .fas{
    animation: scrollTop 0.5s alternate ease;
}
@keyframes scrollTop{
    from{
        transform: translateY(2px);
    }
    to{
        transform: translateY(-1px);
    }
}