.product_duroyal{
    width: 100vw;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    font-family: "Microsoft YaHei","PingFang SC","Hiragino Sans GB",Arial,sans-serif;
    font-size: 1.5rem;
}
.container{
    display: flex;
    /* align-items: center; */
    width: 100vw;
    justify-content: center;

}
.wrapper {
    /* margin-left: 30px; */
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
/* .row{
    width: 50px;
} */
