.image-container{
    position: relative; /* relative */
    /* margin-top: 40px; */
    width: 100vw;
    display: flex; /* grid */
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.right{
    height: 100vh;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size:'50px';
    position:absolute;
    right: 0px;
    /* z-index: -999px; */
    cursor: pointer;
    background-color: rgb(134, 134, 134,0.5);
}
.left{
    height: 100vh;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255); 
    font-size:'50px'; 
    position:absolute;
    left: 0px;
    /* z-index: -999px; */
    cursor: pointer;
    background-color: rgb(134, 134, 134,0.5);

}  
.all-image{
    display: flex; /* grid */
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-out;

}
.image-active{
    height: 91.5vh;
    margin: 5px;
}
.image-slide{
    height: 91.5vh;
    margin: 5px;
    
}
.active{
    opacity: 1;
    /* transition-duration: 1s;
    transform: scale(1.005); */
}
.slide{
    opacity: 1;
    /* transition-duration: 1s; */
}

